<%%- model_class = <%= singular_name.titleize %> -%>
<%% title t '.title', :default => model_class.model_name.human -%>

<div class="form-group form-group-admin-buttons">
  <%%= link_to t('.back', :default => t("helpers.links.back")),
              admin_<%= items_path %>, :class => 'btn btn-default'  %>
  <%%= link_to t('.edit', :default => t("helpers.links.edit")),
              <%= item_path :action => :edit, :instance_variable => true %>, :class => 'btn btn-default' %>
  <%%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              admin_ <%= item_path :instance_variable => true %>,
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm")) },
              :class => 'btn btn-danger' %>
  <%%= link_to t('helpers.links.admin'), admin_path, :class => 'btn btn-default' %>
</div>

<%- model_attributes.each do |attribute| -%>
<p>
  <strong><%%= model_class.human_attribute_name(:<%= attribute.name %>) %>:</strong>
<%- if (attribute.type == :integer || attribute.type == :float) && (attribute.name =~ /_id$/).nil? -%>
  <%%= number_with_delimiter(number_with_precision(@<%= instance_name %>.<%= attribute.name %>)) %>
<%- elsif attribute.type == :date -%>
  <%%= l @<%= instance_name %>.<%= attribute.name %> if <%= @instance_name %>.<%= attribute.name %>.present? %>
<%- elsif attribute.type == :datetime -%>
  <%%= l @<%= instance_name %>.<%= attribute.name %>, format: :file if <%= @instance_name %>.<%= attribute.name %>.present? %>
<%- else -%>
  <%%= @<%= instance_name %>.<%= attribute.name %> %>
<%- end -%>
</p>
<%- end -%>
