<%%- model_class = <%= singular_table_name.titleize %> -%>
<%% title t '.title', :default => model_class.model_name.human.pluralize -%>

<div class="form-group form-group-admin-buttons">
  <%%= link_to t('.new', :default => t("helpers.links.new")), new_admin_<%= singular_table_name %>_path, :class => 'btn btn-primary' %>
  <%%= link_to t('helpers.links.admin'), admin_path, :class => 'btn btn-default' %>
</div>

<table class="table table-striped display">
  <thead>
    <tr>
    <%- attributes.each do |attribute| -%>
      <th><%%= model_class.human_attribute_name(:<%= attribute.name %>) %></th>
    <%- end -%>
      <th><%%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <%% @<%= plural_table_name %>.each do |<%= singular_table_name %>| %>
    <tr>
      <td>
        <%%= link_to t('helpers.links.view'),
                    admin_<%= singular_table_name %>_path(@<%= singular_table_name %>), 
                    :class => 'btn btn-mini btn-default' %>
      </td>
    <%- attributes.each do |attribute| -%>
      <td>
      <%- if (attribute.type == :integer || attribute.type == :float) && (attribute.name =~ /_id$/).nil? -%>
        <%%= number_with_delimiter(number_with_precision(<%= singular_table_name %>.<%= attribute.name %>)) %>
      <%- elsif attribute.type == :date -%>
        <%%= l <%= singular_table_name %>.<%= attribute.name %> if <%= singular_table_name %>.<%= attribute.name %>.present? %>
      <%- elsif attribute.type == :datetime -%>
        <%%= l <%= singular_table_name %>.<%= attribute.name %>, format: :file if <%= singular_table_name %>.<%= attribute.name %>.present? %>
      <%- else -%>
        <%%= <%= singular_table_name %>.<%= attribute.name %> %>
      <%- end -%>
      </td>
    <%- end -%>
      <td>
        <%%= link_to t('app.buttons.edit'),
                    edit_admin_<%= singular_table_name %>_path(@<%= singular_table_name %>), 
                    :class => 'btn btn-mini btn-default' %>
        <%%= link_to t('app.buttons.delete'),
                    admin_<%= singular_table_name %>_path(@<%= singular_table_name %>),
                    :method => :delete,
                    :data => { :confirm => I18n.t("helpers.links.confirm") },
                    :class => 'btn btn-mini btn-danger' %>
      </td>
    </tr>
    <%% end %>
  </tbody>
</table>
